# 1. Exercise - Lists

1. Given the list:
    lst = [1, 2, 34, 5, 3, 12, 9, 8, 67, 89, 98, 90, 39, 21, 45, 46, 23, 13]

Answer the following questions:

- How many elements are in the list?
- Using indexes, find out which is the first element in the list?
- Using indexes, find out which is the last element in the list?
- What is the index of element `90` in the list?
- Which are the first 8 elements in the list?
- Append elements 100 and 110 to the list?
- Use the sort function from numpy library to sort the elements in the list.

In [1]:
lst = [1, 2, 34, 5, 3, 12, 9, 8, 67, 89, 98, 90, 39, 21, 45, 46, 23, 13]

len(lst)

18

In [29]:
lst = [1, 2, 34, 5, 3, 12, 9, 8, 67, 89, 98, 90, 39, 21, 45, 46, 23, 13]

lst[0]

1

In [3]:
lst = [1, 2, 34, 5, 3, 12, 9, 8, 67, 89, 98, 90, 39, 21, 45, 46, 23, 13]

lst[-1]

13

In [4]:
lst = [1, 2, 34, 5, 3, 12, 9, 8, 67, 89, 98, 90, 39, 21, 45, 46, 23, 13]

lst.index(90)

11

In [6]:
lst = [1, 2, 34, 5, 3, 12, 9, 8, 67, 89, 98, 90, 39, 21, 45, 46, 23, 13]

lst[0:8]

[1, 2, 34, 5, 3, 12, 9, 8]

In [10]:
lst = [1, 2, 34, 5, 3, 12, 9, 8, 67, 89, 98, 90, 39, 21, 45, 46, 23, 13]

lst.extend([100, 110])
print(lst)

[1, 2, 34, 5, 3, 12, 9, 8, 67, 89, 98, 90, 39, 21, 45, 46, 23, 13, 100, 110]

In [28]:
import numpy
numpy.sort(lst)

array([  1,   2,   3,   5,   8,   9,  12,  13,  21,  23,  34,  39,  45,
        46,  67,  89,  90,  98, 100, 110])

1.2 Can a list have two or more elements that are same? Try and test. Try to define a new list with a few similar values and see if it works

In [31]:
lst_1 = [1, 1, 1, 34, 56, 3, 56, 43, 34]
print(lst_1)

[1, 1, 1, 34, 56, 3, 56, 43, 34]

In [32]:
lst_1.index(1)

0

In [33]:
import numpy
numpy.sort(lst_1)

array([ 1,  1,  1,  3, 34, 34, 43, 56, 56])