1. Exercise - Variables

For the following variables, use the function type() from Python to check the data type for the variables.

In [1]:
x1 = 1.1
x2 = "Ironhack"
x3 = "1.1"
x4 = True
x5 = "True"
x6 = -1

In [10]:
type(x1), type(x2), type(x3), type(x4), type(x5), type(x6)

(float, str, str, bool, str, int)

1.2 What is the difference between variables x1 and x3?

In [11]:
tx1=type(x1)
tx3=type(x3)
print("The difference between x1 and x3 is that the first one is a ", tx1, "and the second one is a ", tx3)

The difference between x1 and x3 is that the first one is a  <class 'float'> and the second one is a  <class 'str'>

1.3 What is the difference between variables x4 and x5?

In [13]:
tx4=type(x4)
tx5=type(x5)
print("The difference between x4 and x5 is that the first one is a ", tx4, "and the second one is a ", tx5)

The difference between x4 and x5 is that the first one is a  <class 'bool'> and the second one is a  <class 'str'>

2. Exercise - Operators

2.1 In this problem we will show you how to take a user input. Use the code and then answer the questions that follow:

In [16]:
x1 = input("Please enter an integer number: ")

x2 = input("Please enter another integer number: ")

Please enter an integer number: 7
Please enter another integer number: 34

Question 1: Print the values of the two variables.

In [17]:
type(x1), type(x2)

(str, str)

Now we do some data type conversion from string to integers:

In [18]:
x1 = int(x1) # This converts string into integer and re-initializes `x1`
x2 = int(x2) # This converts string into integer and re-initializes `x2`

Question 2: What is the data type of x1 and x2?

In [19]:
type(x1), type(x2)

(int, int)

 Now perform simple comparisons between x1 and x2:

Check if the two variables are equal.

Check if x1 is greater than x2.

Check if x2 is greater than x1.

Check if x1 is not equal to x2.

Store the difference between the two variables x1 and x2 in another variable x3 (subtract the smaller number from the larger number).

Increment the smaller of the two variables (x1 and x2) with the difference.Use the shorthand addition operator for the same. Again check if x1 and x2 are equal or not.

In [22]:
x1==x2 , x1>x2 , x2>x1 , x1!=x2

(False, False, True, True)

In [23]:
x3 = x2-x1

In [24]:
x1=x1+x3

In [25]:
x1==x2

True

2.2 In the lesson, we talked about math library in Python. Here is a link to the math library documentation. Go through the documentation and try any 3 or more functions on a numerical variable that were not described in the lesson.

In [26]:
x=34.67
import math

math.ceil(x)

35

In [27]:
x=34
import math

math.factorial(x)

295232799039604140847618609643520000000

In [28]:
x=34
import math

math.isqrt(x)

5