In [1]:
from scipy.stats import ttest_1samp
import numpy as np
import pandas as pd
import math
import scipy.stats
import statistics as st

In [2]:
df = pd.read_excel("machine.txt.xlsx")
df

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [3]:
popmean = (st.mean(df["    Old machine"]) + st.mean(df["New machine"])) / 2
popmean

42.685

# New Model

In [4]:
test_t_newm=ttest_1samp(a=df["New machine"], popmean = popmean)

In [5]:
test_t_newm

Ttest_1sampResult(statistic=-2.521659267519165, pvalue=0.03267955806651191)

In [6]:
from scipy.stats import norm

In [7]:
critical_value_newm = norm.ppf(0.03267955806651191)
print(critical_value_newm)

-1.8427938428563033

# Old Model

In [8]:
test_t_oldm=ttest_1samp(a=df["    Old machine"], popmean = popmean)

In [9]:
test_t_oldm

Ttest_1sampResult(statistic=2.2982622749137422, pvalue=0.04713321498681849)

In [10]:
critical_value_oldm = norm.ppf(0.04713321498681849)
print(critical_value_oldm)

-1.673309262473571

# Comparison between models

In [12]:
import scipy.stats as stats

In [13]:
stats.ttest_ind(a = df["New machine"], b = df["    Old machine"], equal_var=True)

Ttest_indResult(statistic=-3.3972307061176026, pvalue=0.0032111425007745158)