In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("Spanish_Songs_CSVs/alternative_top100.csv")
df2 = pd.read_csv("Spanish_Songs_CSVs/pop_top100.csv")
df3 = pd.read_csv("Spanish_Songs_CSVs/rock_top100.csv")
df4 = pd.read_csv("Spanish_Songs_CSVs/reggae_top100.csv")
df5 = pd.read_csv("Spanish_Songs_CSVs/hiphop_top100.csv")
df6 = pd.read_csv("Spanish_Songs_CSVs/jazz_top100.csv")
df7 = pd.read_csv("Spanish_Songs_CSVs/blues_top100.csv")
df8 = pd.read_csv("Spanish_Songs_CSVs/dance_top100.csv")
df9 = pd.read_csv("Spanish_Songs_CSVs/world_top100.csv")
df10 = pd.read_csv("Spanish_Songs_CSVs/electronic_top100.csv")
df11 = pd.read_csv("Spanish_Songs_CSVs/christian_gospel_top100.csv")
df12 = pd.read_csv("Spanish_Songs_CSVs/rb_soul_top100.csv")
df13 = pd.read_csv("Spanish_Songs_CSVs/latin_top100.csv")
df14 = pd.read_csv("Spanish_Songs_CSVs/classical_top100.csv")
df15 = pd.read_csv("Spanish_Songs_CSVs/country_top100.csv")
df16 = pd.read_csv("Spanish_Songs_CSVs/spain_top100.csv")

In [3]:
genre1 = []

In [4]:
from tqdm.notebook import tqdm

In [5]:
for i in tqdm(range(len(df1))):
    genre1.append("alternative")

  0%|          | 0/100 [00:00<?, ?it/s]

In [6]:
df1 = df1.assign(genre =  genre1)

In [7]:
genre2 = []
for i in tqdm(range(len(df2))):
    genre2.append("pop")
df2 = df2.assign(genre =  genre2)

  0%|          | 0/100 [00:00<?, ?it/s]

In [8]:
genre3 = []
for i in tqdm(range(len(df3))):
    genre3.append("rock")
df3 = df3.assign(genre =  genre3)

  0%|          | 0/92 [00:00<?, ?it/s]

In [9]:
genre4 = []
for i in tqdm(range(len(df4))):
    genre4.append("reggae")
df4 = df4.assign(genre =  genre4)

  0%|          | 0/71 [00:00<?, ?it/s]

In [10]:
genre5 = []
for i in tqdm(range(len(df5))):
    genre5.append("hip hop")
df5 = df5.assign(genre =  genre5)

  0%|          | 0/100 [00:00<?, ?it/s]

In [11]:
genre6 = []
for i in tqdm(range(len(df6))):
    genre6.append("jazz")
df6 = df6.assign(genre =  genre6)

  0%|          | 0/76 [00:00<?, ?it/s]

In [12]:
genre7 = []
for i in tqdm(range(len(df7))):
    genre7.append("blues")
df7 = df7.assign(genre =  genre7)

  0%|          | 0/47 [00:00<?, ?it/s]

In [13]:
genre8 = []
for i in tqdm(range(len(df8))):
    genre8.append("dance")
df8 = df8.assign(genre = genre8)

  0%|          | 0/100 [00:00<?, ?it/s]

In [14]:
genre9 = []
for i in tqdm(range(len(df9))):
    genre9.append("international")
df9 = df9.assign(genre =  genre9)

  0%|          | 0/100 [00:00<?, ?it/s]

In [15]:
genre10 = []
for i in tqdm(range(len(df10))):
    genre10.append("electronic")
df10 = df10.assign(genre =  genre10)

  0%|          | 0/100 [00:00<?, ?it/s]

In [16]:
genre11 = []
for i in tqdm(range(len(df11))):
    genre11.append("christian & gospel")
df11 = df11.assign(genre =  genre11)

  0%|          | 0/96 [00:00<?, ?it/s]

In [17]:
genre12 = []
for i in tqdm(range(len(df12))):
    genre12.append("r&r / soul")
df12 = df12.assign(genre =  genre12)

  0%|          | 0/85 [00:00<?, ?it/s]

In [18]:
genre13 = []
for i in tqdm(range(len(df13))):
    genre13.append("latin")
df13 = df13.assign(genre =  genre13)

  0%|          | 0/100 [00:00<?, ?it/s]

In [19]:
genre14 = []
for i in tqdm(range(len(df14))):
    genre14.append("classical")
df14 = df14.assign(genre =  genre14)

  0%|          | 0/100 [00:00<?, ?it/s]

In [20]:
genre15 = []
for i in tqdm(range(len(df15))):
    genre15.append("country")
df15 = df15.assign(genre =  genre15)

  0%|          | 0/87 [00:00<?, ?it/s]

In [21]:
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15], axis = 0)

In [22]:
df = df.reset_index(drop = True)

In [23]:
df

,title,artists,genre
0,Somebody That I Used To Know (feat. Kimbra),Gotye,alternative
1,A Sky Full of Stars,Coldplay,alternative
2,Lost on You,LP,alternative
3,Human,The Killers,alternative
4,Tenía Tanto Que Darte,"Nena Daconte, La La Love You",alternative
...,...,...,...
1349,Coward of the County,Kenny Rogers,country
1350,Wagon Wheel,Darius Rucker,country
1351,Highway Don't Care (feat. Taylor Swift & Keith...,Tim McGraw,country
1352,Somebody Like You,Keith Urban,country
1353,Father and Son (feat. Fiona Apple),Johnny Cash,country

In [24]:
df_std = df.replace(to_replace =" ",
                 value ="", regex = True)

In [25]:
df16.head(99)

,title,artists
0,Cold Heart (PNAU Remix),"Dua Lipa, Elton John"
1,Mon Amour (Remix),"Aitana, zzoilo"
2,Virgen de las Nieves,Melendi
3,Bad Habits,Ed Sheeran
4,Easy On Me,Adele
...,...,...
94,Midtown,Duki
95,Magia,Alvaro Soler
96,El Boig de la Ciutat 30 Anys (feat. Alvaro Soler),"Sopa De Cabra, Ramon Mirabet, Alfred García"
97,All Too Well (Sad Girl Autumn Version) [Record...,Taylor Swift
98,Record Mundial (B-Side Version),Daniel Huen

In [26]:
df16_std = df16.replace(to_replace =" ",
                 value ="", regex = True)

In [27]:
df16

,title,artists
0,Cold Heart (PNAU Remix),"Dua Lipa, Elton John"
1,Mon Amour (Remix),"Aitana, zzoilo"
2,Virgen de las Nieves,Melendi
3,Bad Habits,Ed Sheeran
4,Easy On Me,Adele
...,...,...
95,Magia,Alvaro Soler
96,El Boig de la Ciutat 30 Anys (feat. Alvaro Soler),"Sopa De Cabra, Ramon Mirabet, Alfred García"
97,All Too Well (Sad Girl Autumn Version) [Record...,Taylor Swift
98,Record Mundial (B-Side Version),Daniel Huen
99,Vente Pa' Ca (feat. Maluma),Ricky Martin

In [41]:
from unidecode import unidecode

In [54]:
for title, artists in df.iterrows( ):
    hs = input("""Please type your favourite song or artist of the moment:
    
""")
    hs2 = unidecode(hs.lower().replace(" ",""))
    check = df[df['title'].str.lower().str.replace(" ","").apply(unidecode).str.contains(hs2)] + df[df['artists'].str.lower().str.replace(" ","").apply(unidecode).str.contains(hs2)]
    index = check.index.tolist()
    
    if len(check) != 0:
        answer = input("""
Do you mean """ + df.title[index].values[0] + """ by """ + df.artists[index].values[0] + """?
[y/n]
         
""")
        if answer.lower() == 'y':
            check2 = df16[df16['title'].str.lower().str.replace(" ","").apply(unidecode).str.contains(hs2)] + df16[df16['artists'].str.lower().str.replace(" ","").apply(unidecode).str.contains(hs2)]
            song_genre = df.loc[index, 'genre'].iloc[0]
            
            
            if len(check2) != 0:
                df_mask = df['genre']== song_genre
                df_filtered = df[df_mask]
                suggestion = df_filtered.sample().index.tolist()
                print("""
Good choice! Your song was one of the Top 100 hot songs in Spain last week!
As we see you like """ + song_genre + """ music, we think you could enjoy """ + df['title'][suggestion].item() + """ by """ + df['artists'][suggestion].item() + """.""")
                break
            else:
                df_mask = df['genre']== song_genre
                df_filtered = df[df_mask]
                suggestion = df_filtered.sample().index.tolist()
                print("""
Interesting choice!
Your song wasn't one of the Top 100 hot songs in Spain last week but it was one of the first choices of """ + song_genre + """ music lovers.
Why don't you try """ + df['title'][suggestion].item() + """ by """ + df['artists'][suggestion].item() + """?""")
                break
        else:
            print("""
Wow, we weren't expecting that choice!
Unfortunatelly, we don't have that song or artist in our database, so probably it's not a hot song in this moment.
Could you tell us another one?
            
            """)
            continue
    else:
        print("""
Wow, we weren't expecting that choice!
Unfortunatelly, we don't have that song or artist in our database, so probably it's not a hot song in this moment.
Could you tell us another one?
            
            """)
        continue

Please type your favourite song or artist of the moment:

rosalía

Do you mean LA FAMA (feat. The Weeknd) by ROSALÍA?
[y/n]

y

Good choice! Your song was one of the Top 100 hot songs in Spain last week!
As we see you like latin music, we think you could enjoy In Da Getto by Skrillex,  J Balvin.